# suppress compiler/linker output
*.[oa]
*.obj
*.gcno
[Dd]ebug/
[Rr]elease/

# suppress output of build process
gcc_[12].txt
testok.txt
test_*.txt
tv.txt
*_tv.txt

# *nix/windows test executables
test
test.exe
tv_gen
tv_gen.exe
timing
timing.exe

# Visual Studio special files
# ignore user specific settings
*.user
*.suo
# ignore non-compressed browse file (holds information for ClassView, IntelliSense and WizardBar)
*.ncb
# ignore VS intermediate and program database files
*.idb
*.pdb
