language: c
compiler:
  - gcc
  - clang
script: bash "${BUILDSCRIPT}" "${BUILDNAME}" "${BUILDOPTIONS}" "makefile" "-DUSE_LTM -DLTM_DESC -I/usr/include" "/usr/lib/x86_64-linux-gnu/libtommath.a"
env:
  - |
    BUILDSCRIPT="check_source.sh"
    BUILDNAME="CHECK_SOURCES"
    BUILDOPTIONS=" "
  - |
    BUILDSCRIPT="coverage.sh"
    BUILDNAME="COVERAGE"
    BUILDOPTIONS=" "
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="STOCK"
    BUILDOPTIONS=" "
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="EASY"
    BUILDOPTIONS="-DLTC_EASY"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="SMALL"
    BUILDOPTIONS="-DLTC_SMALL_CODE"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="NOTABLES"
    BUILDOPTIONS="-DLTC_NO_TABLES"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="SMALL+NOTABLES"
    BUILDOPTIONS="-DLTC_SMALL_CODE -DLTC_NO_TABLES"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="CLEANSTACK"
    BUILDOPTIONS="-DLTC_CLEAN_STACK"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="CLEANSTACK+SMALL"
    BUILDOPTIONS="-DLTC_SMALL_CODE -DLTC_CLEAN_STACK"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="CLEANSTACK+NOTABLES"
    BUILDOPTIONS="-DLTC_NO_TABLES -DLTC_CLEAN_STACK"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="CLEANSTACK+NOTABLES+SMALL"
    BUILDOPTIONS="-DLTC_NO_TABLES -DLTC_CLEAN_STACK -DLTC_SMALL_CODE"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="NO_FAST"
    BUILDOPTIONS="-DLTC_NO_FAST"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="NO_FAST+NOTABLES"
    BUILDOPTIONS="-DLTC_NO_FAST -DLTC_NO_TABLES"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="NO_ASM"
    BUILDOPTIONS="-DLTC_NO_ASM"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="NO_TIMING_RESISTANCE"
    BUILDOPTIONS="-DLTC_NO_ECC_TIMING_RESISTANT -DLTC_NO_RSA_BLINDING"
  - |
    BUILDSCRIPT="run.sh"
    BUILDNAME="CLEANSTACK+NOTABLES+SMALL+NO_ASM+NO_TIMING_RESISTANCE"
    BUILDOPTIONS="-DLTC_CLEAN_STACK -DLTC_NO_TABLES -DLTC_SMALL_CODE -DLTC_NO_ECC_TIMING_RESISTANT -DLTC_NO_RSA_BLINDING"
  - |
    BUILDSCRIPT="testbuild.sh"
    BUILDNAME="NOTEST"
    BUILDOPTIONS="-DLTC_NO_TEST"
  - |
    BUILDSCRIPT="testbuild.sh"
    BUILDNAME="NOFILE"
    BUILDOPTIONS="-DLTC_NO_FILE"
matrix:
  fast_finish: true
branches:
  only:
    - develop
addons:
  apt:
    sources:
    - debian-sid
    packages:
    - libtommath-dev
before_script:
  - sudo apt-get update -qq
  - sudo pip install cpp-coveralls
after_failure:
  - cat test_std.txt
  - cat test_err.txt
after_script:
  - cat gcc_2.txt
notifications:
  irc: "chat.freenode.net#libtom"
